#graph {
	width:500px; height:230px;
	position:relative;

	-webkit-transform:translate3d(0,0,0) rotateX(-20deg) rotateY(-40deg);
	-webkit-perspective:3000px;
	-webkit-transform-style:preserve-3d;
}
#back-wall {
	width:500px; height:230px;
	border-left:2px solid #333333;
	border-right:2px solid #333333;
	background: url("lines.png") repeat-x left top;
	position:absolute;
	bottom:0; left:0;
	-webkit-transform:translate3d(0,0,-100px);
}
#side-wall { 
	width:100px; height:230px;
	border-left:2px solid #333333;	
	background: url("lines.png") repeat-x left top;
	position:absolute;
	bottom:0; left:0;
	-webkit-transform:translate3d(0,0,0) rotateY(90deg);
	-webkit-transform-origin:left center;
}
#floor {
	width:502px; height:100px;
	position:absolute;
	background-image:-webkit-linear-gradient(left,rgba(20,30,40,1) 0%,rgba(80,90,100,0.8) 80%);
	background-image:-moz-linear-gradient(left,rgba(20,30,40,1) 0%,rgba(80,90,100,0.8) 80%);
	bottom:0; left:0;
	-webkit-transform:translate3d(0,0,0) rotateX(90deg);
	-webkit-transform-origin:left bottom;
	-webkit-transform-style:preserve-3d;
}

.bar {
	width:50px;height:50px;
	position:absolute;
	background:rgba(128,0,0,0.3);
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform-origin:left bottom;
	-webkit-transform-style:preserve-3d;
}
.bar div {
	width:50px;height:50px;
	position:absolute;
	left:0; top:0;
	background:rgba(168,0,0,0.5);
	-webkit-transform:translate3d(0,0,0);
}
.bar .front {
	height:100px;
	text-align:center;
	-webkit-transform-origin:left bottom;
	-webkit-transform:translate3d(0,0,0) rotateX(-90deg);
}
.bar .front span {
	display:inline-block;
	-webkit-transform:translate3d(0,20px,0);
}
.bar .right { 
	height:100px;
	-webkit-transform-origin:right top;
	-webkit-transform:rotateX(90deg) rotateY(-90deg);

	-moz-transform-origin:right top;
	-moz-transform:rotateX(90deg) rotateY(-90deg);
}
.bar .left {
	height:100px;
	-webkit-transform-origin:left top;
	-webkit-transform:rotateX(90deg) rotateY(90deg);
}
.bar .top {
	width:50px !important; height:50px !important;
	-webkit-transform:translate3d(0,0,100px);
}

